<div id="add-user-selector-root">
    <div id="add-user-selector-title" class="text-gray-800 font-semibold border-b-2 border-blue-400 cursor-pointer hover:border-blue-300 hover:text-gray-500">User Name</div>
    <div id="add-user-selector-list" class="z-40 fixed mt-2 hidden" style="width: auto; height: 100px; bottom: 120px;">
        <div id="separator" class="bg-slate-400 text-gray-200 uppercase font-semibold px-2 py-1 cursor-default">User group</div>
        <div id="user" class="bg-white text-gray-800 font-semibold px-2 py-1 hover:bg-slate-200 cursor-pointer flex justify-between items-center">
            <div>User1</div>
            <div class="w-2.5 h-2.5 rounded-full bg-gray-400 inline-block"></div>
        </div>
    </div>
</div>
