<div id="root" class="w-full">
    <div id="header" class="cursor-pointer flex justify-between items-center">
        <p id="title" class="text-white font-bold font-sans">Selected Item</p>
        <svg id="svgArrow" class="fill-white" width="10" height="10">
            <polygon points="0,0 10,0 5,10"/>
        </svg>
    </div>
    
    <div id="bar" class="flex w-full h-1 mt-2" style="background-color: #182C36;">
        <div class="h-1" style="width: 25%"></div>
    </div>

    <div id="list" class="hidden z-50 fixed bg-white mt-2" style="width: auto;">
        <div class="cursor-pointer text-gray-600 border-2 border-transparent hover:border-slate-300 font-sans font-semibold px-4 py-2 bg-cyan-200 z-50 hover:bg-slate-200"></div>
    </div>
</div>
