<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../dist/output.css" rel="stylesheet">
    <script src="./user-selector-controls.js" defer></script>
    <title>Document</title>
</head>
<body class="">
    <div id="user-selector-root">
        <div id="user-selector-title" class="text-gray-800 font-semibold border-b-2 border-blue-400 cursor-pointer hover:border-blue-300 hover:text-gray-500">User Name</div>
        <div id="user-selector-list" class="hidden z-40 fixed mt-2" style="width: auto;">
            <div id="separator" class="bg-slate-400 text-gray-200 uppercase font-semibold px-2 py-1 cursor-default">User group</div>
            <div id="user" class="bg-white text-gray-800 font-semibold px-2 py-1 hover:bg-slate-200 cursor-pointer">User1</div>
        </div>
    </div>
</body>
</html>